* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #000;
  --secondary: rgb(24 24 27);
  --border: rgba(63, 63, 70, 0.4);

  --title: rgb(244 244 245);
  --subtitle: rgb(161 161 170);

  --bgHeader: rgb(39, 39, 42);
  --blue: rgb(93, 188, 252);

  --icon-hover: #d4d4d8;

  --container-padding: 4.8rem;
}

button {
  all: unset
}

button:hover {
  cursor: pointer;
}

button:active {
  scale: 0.9;
}

button:disabled{
opacity: 0.4;
cursor: not-allowed;
}