@use "../../styles/variables.scss"as *;
@use "../../styles/mixins.scss"as mixin;


.audio-player {
    background: linear-gradient(
        to right,       // direction of the gradient
        #FFA5C4,        // starting color
        #EBADEE,        // middle color
        #54A2FF         // ending color
      ) !important;
    margin-bottom: 0px !important;
    @include mixin.audio-card;

    &__options {
        @include mixin.audio-card-nav;
    }

    &__icon:hover {
        color: var(--primary);
        cursor: pointer;
        transform: scale(1.3)
    }
}
