.reactive-canvas__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    
    height: 45vh; /* Full viewport height to center vertically */
    width: 70vw;  /* Full viewport width to center horizontally */
    background-color: white ;/* Set background color if needed */
  }
  .butcont{display: block;
  }

  .main{
    color:  white;
    background-color:  white;
    height: 90vh; /* Full viewport height to center vertically */
    width: 100%;
   padding-bottom: 0px;
    display: flex;
     justify-content: center; /* Center horizontally */
    align-items: center;

  }
  #myThreeJsCanvas {
    width: 50%;
    height: 60%;
  }
  .contains{
    width: 70%;
    padding-top: 0%;
    
  }
  
  




